.modal-header {
    color: #105494;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    color: #105494;
    font-size: 0.95rem;
    height: 350px;
    overflow-y: auto;
}

.modal-body input,
.modal-body textarea,
.modal-body select {
    font-size: 0.88rem;
    resize: none;
    border: none;
    border-bottom: 1px solid #105494;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.modal-body input:focus,
.modal-body textarea:focus,
.modal-body select:focus {
    border-bottom: 1px solid #105494;
    outline: none;
    box-shadow: none;
}

.modal-body ::placeholder {
    color: #105494;
    opacity: 1;
}

.modal-body ::-webkit-input-placeholder {
    color: black;
}

.modal-body :-ms-input-placeholder {
    color: #105494;
}

.modal-body :-moz-placeholder {
    color: #105494;
}

.modal-body ::-moz-placeholder {
    color: #105494;
}


.modal-footer .btn {
    font-size: 0.75rem;
    border-radius: 3px;
}

.modal-footer .btn-secondary {
    background-color: #105494;
    border: none;
    color: white;
    width: 150px;
    height: 28px;
}

.modal-footer .btn-primary {
    background-color: white;
    border: #105494 solid 1px;
    color: #105494;
    width: 150px;
    height: 28px;
}

.modal-body .form-group {
    margin-bottom: 1.5rem;
}

.modal-body .form-group label {
    color: #105494;
    font-size: 0.9rem;
}

.modal-body .row {
    margin-bottom: 1.5rem;
}

.modal-body .col-sm-6 {
    padding-right: 15px;
}

.modal-body .col-sm-12 {
    padding-right: 15px;
}

.modal-body .form-control {
    font-size: 0.78rem;
}

.modal-body .form-control {
    width: 100%;
}

.modal-dialog {
    max-width: 1000px;
}
