.icon-gap {
    margin-right: 2px;
}
.recipient{
    position: absolute;
    left: 65%;
    width: 65%;
    top: 12%;
    transform: translateX(-50%);
    color : #105494;
}

.recipient h4{
    font-weight: bold;
    font-size: 15px;
}
.recipient h6{
    color:gray;
    font-size: 12px;
}
.button-container {
    gap: 10px;
    display: flex;
    justify-content: flex-start;
}
.button-container .buttonExport{
    background-color: #105494;
    border: 1px solid #105494;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
}

.button-container .buttonCreation{
    color: #105494;
    border: 1px solid #105494;
    background-color: white;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
}



.recipient .custom-nav .nav-link {
    margin-top: 20px;
    font-size: 14px;
    color: black;
    font-weight: 400;
    border: none;
    border-radius: 0;
}

.recipient .custom-nav .nav-link.active {
    color: #105494;
    border-bottom: 2px solid #105494;
}

.recipient .custom-nav .nav-item {
    margin-right: 10px;
}


.tab-content {
    border-radius: 8px;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.destinataires-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
}

.destinataires-table th, .destinataires-table td {
    padding: 12px 15px;
    text-align: left;
    color: #212529;
    font-size: 0.81rem;
    border-bottom: 1px solid #ddd;
}

.destinataires-table th {
    font-size: 0.82rem;
    background-color: #105494;
    color: white;
    font-weight: 600;
}



@media (max-width: 768px) {
    .destinataires-table th, .destinataires-table td {
        font-size: 10px;
        padding: 8px 10px;
    }
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 5rem;
    box-shadow: none;
    border: 0.12rem solid #105494;
    display: flex;
    align-items: center;
}
.cards .button {
    color: #105494;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
}

.cards .card-title {
    font-size: 15px;
    color: #105494;
}

.cards .card-text {
    font-size: 12px;
    color: black;
    font-weight: 600;
}

.validate-btn{
    background-color: #105494;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 50px;
    font-size: 12px;
    font-weight: 600;
}
.valid-data-tab {
    margin-top: 20px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pagination-btn {
    font-size: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #105494;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.tabs-body {
    max-height: 500px;
    overflow-y: auto;
}

.download-btn {
    background-color: #105494;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 25px;
    font-size: 12px;
    font-weight: 600;

}
.valid-data-title {
    margin-bottom: 15px;
    font-size: 1.25rem;
    font-weight: bold;
}
